<app-page-layout
  [title]="'STRATEGIES.TITLE' | translate"
  icon="schema">

  <div actions class="list-actions">
    <app-search-field (searchChange)="onSearchChange($event)" />
    <app-button icon="add" variant="primary" (pressed)="onCreate()">
      {{ 'STRATEGIES.CREATE_BTN' | translate }}
    </app-button>
  </div>

  <app-data-grid
    id="strategies"
    [columns]="columns"
    [dataSource]="displayRows()"
    [totalRecords]="totalRecords()"
    [pageIndex]="pageIndex()"
    [pageSize]="pageSize()"
    [loading]="isLoading()"
    [isFiltered]="!!searchValue()"
    [mobileVisibleColumns]="mobileColumns"
    emptyMessageKey="STRATEGIES.EMPTY"
    noResultsMessageKey="COMMON.NO_RESULTS"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
    (rowAction)="onRowAction($event)"
  />
</app-page-layout>
